/* poppins font */
body{
    font-family: 'Poppins', sans-serif;
    margin-top: 50px;
    background-color: #FFFFFF;
}
header{
    margin-left: 120px;
}
.title{
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 72px;
}
.heading{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 133px;
}
.heading-details{
    width: 582px;
    height: 270px;
}
.heading-details>h2{
    font-size: 52px;
    font-weight: 700;
    margin-bottom: 16px;
}
.heading-details>p{
    margin-bottom: 20px;
}
.prebook-button{
    text-decoration: none;
    background-color: #E02C6D;
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 24px;
    border-radius: 41px;
    line-height: 24px;
}
.icon{
    width: 16px;
    height: 14px;
    padding-left: 8px;
}
main{
    margin-top: 20px;
    margin-left: 120px;
}
.picture{
    width: 440px;
    height: 414px;
}
.container{
    width: 1047px;
    height: 1662px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.title1{
    font-weight: 600;
    font-size: 28px;
    text-align: center;
}
.collections{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 19px;
}
.item{
    width: 329px;
    height: 476px;
    background: #FFFFFF;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.item-details{
    padding: 17px 14px;
}
.item-pic img{
    width: 300px;
    height: 256px;
    border-radius: 5px;
}
.item-title{
    font-weight: 500;
    font-size: 28px;
    color: #18191F;
    margin: 0px;
}
.item-price{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87);
    margin: 0px;
}
.fa-star{
    font-size: 12px;
}
.fa-star.filled{
    color: #FFC014;
}
.fa-star.empty{
    color: #AEAEAE;
}
.item-info span{
    margin-left: 8px;
    font-weight: bold;
    font-size: 14px;
    color: #5E6366;
}
.item-info p{
    font-weight: bold;
    font-size: 14px;
    color: #787885;
}
.more-button{
    text-decoration: none;
    color: #E02C6D;
    font-size: 16px;
    font-weight: bold;
    display: flex;
    justify-content:flex-end;
    margin-top: 50px;
    margin-right: 19px;
}
.icon1{
    width: 16px;
    height: 14px;
    padding-left: 8px;
    margin-top: 6px;
}
.container2{
    width: 1110px;
    height: 270px;
    margin-top: 100px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 0px;
}
.featured-pic{
    width: 404px;
    height: 270px;
}
.featured-details>h2{
    font-weight: 700;
    font-size: 38px;
    color: #0A0826;
}
.featured-details>p{
    font-weight: 700;
    font-size: 16px;
    color: #6C6C6C;
    margin-top: -12px;
    margin-bottom: 20px;
}
.featured-button{
    text-decoration: none;
    width: 155px;
    height: 44px;
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 24px;
}
footer{
    width: 1440px;
    height: 239px;
    background-color: #0A0826;
}
.footer-details{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-title{
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    margin-top: 50px;
    margin-bottom: 3px;
}
.copyright{
    margin-top: 0px;
    margin-bottom: 3px;
    font-size: 14px;
    font-weight: 700;
    color: #D9DBE1;
}
.link{
    margin-top: 17px;
    display: grid;
    grid-template-columns: repeat(4,53px);
    justify-content: center;
}
.link img{
    width: 32px;
    height: 32px;
}